:root {
    --DPBorderRadius:4px;
    --DPGap:18px;
    --DPMargin:60px;
    --DPDocked: -60px;
    --DPStrock:2px;

    /* colours */
    --DPZ: #000000;
    --DPD: #1A1A1A;
    --DPA: #292428;
    --DPE: #494444;
    --DPT: #7a6f6d;
    --DPG: #a0948e;
    --DPS: #d9d2ca;
    --DPB: #f2efed;
    --DPW: #ffffff;
    /* Real Estate Agents */    --DPREAAccent: #E5EDFF;--DPREALight: #6488e2;--DPREAPure: #4169e4;--DPREADark: #1641c5;--DPREAUmbra: #2e324e;
    /* Landlords */             --DPLLSAccent: #EAF9FB;--DPLLSLight: #AFEBF4;--DPLLSPure: #5BCDDD;--DPLLSDark: #1898AA;--DPLLSUmbra: #33464c;
    /* Build to rent */         --DPBTRAccent: #E7FEF0;--DPBTRLight: #88d7a9;--DPBTRPure: #5bb280;--DPBTRDark: #336c4b;--DPBTRUmbra: #33413a;
    /* student */               --DPBFSAccent: #FFF9E5;--DPBFSLight: #fcce4c;--DPBFSPure: #fec200;--DPBFSDark: #ce9d00;--DPBFSUmbra: #544420;
    /* Developer */             --DPDEVAccent: #FFECE5;--DPDEVLight: #fc7247;--DPDEVPure: #fd561a;--DPDEVDark: #d23c06;--DPDEVUmbra: #542e25;
    /* International */         --DPINTAccent: #FFE5E5;--DPINTLight: #de4f4f;--DPINTPure: #db1616;--DPINTDark: #ba0000;--DPINTUmbra: #4d2124;
    /* contractors */           --DPFFEAccent: #FFE5F9;--DPFFELight: #ce6fb7;--DPFFEPure: #ba539e;--DPFFEDark: #a3137c;--DPFFEUmbra: #462e40;
    /* Defualt */               --DPDEFAccent: #FACBCE;--DPDEFLight: #CB5E65;--DPDEFPure: #B7454D;--DPDEFDark: #73262b;--DPDEFUmbra: #382529;

    /* Absolute Layers ============================================================*/
    /*                      Background          Title               Copy                Accent                  Shadow  */
    /* white */     --DPWB:  var(--DPW); --DPWT:  var(--DPE);  --DPWC:  var(--DPE);   --DPWA:  var(--DPS);    --DPWS:  var(--DPS);
    /* bone */      --DPBB:  var(--DPB); --DPBT:  var(--DPE);  --DPBC:  var(--DPE);   --DPBA:  var(--DPS);    --DPBS:  var(--DPS);
    /* stone */     --DPSB:  var(--DPS); --DPST:  var(--DPE);  --DPSC:  var(--DPA);   --DPSA:  var(--DPB);    --DPSS:  var(--DPE);
    /* griege */    --DPGB:  var(--DPG); --DPGT:  var(--DPE);  --DPGC:  var(--DPA);   --DPGA:  var(--DPS);    --DPGS:  var(--DPE);
    /* Typhoon */   --DPTB:  var(--DPT); --DPTT:  var(--DPB);  --DPTC:  var(--DPW);   --DPTA:  var(--DPE);    --DPTS:  var(--DPA);
    /* Evening */   --DPEB:  var(--DPE); --DPET:  var(--DPB);  --DPEC:  var(--DPW);   --DPEA:  var(--DPA);    --DPES:  var(--DPE);
    /* Aubergine */ --DPAB:  var(--DPA); --DPAT:  var(--DPS);  --DPAC:  var(--DPB);   --DPAA:  var(--DPE);    --DPAS:  var(--DPD);
    /* Dark */      --DPDB:  var(--DPD); --DPDT:  var(--DPS);  --DPDC:  var(--DPB);   --DPDA:  var(--DPE);    --DPDS:  var(--DPZ);
  }


.DPCard{
    padding: var(--DPMargin);
    gap: var(--DPGap);
    /* border-radius: 4px; */
    width: fill;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.DPmain{
    max-width: 1080px;
}
.DPcd_tb,.DPSection.DPcd_tb{
    flex-direction: column;
}
.DPcd_lr,.DPSection.DPcd_lr{
    flex-direction: row;
}
.DPdocked_left{margin-left: var(--DPDocked);}
.DPdocked_right{margin-right: var(--DPDocked);}
.DPdocked_bottom{margin-bottom: var(--DPDocked);}
.DPdocked_top{margin-top: var(--DPDocked);}
section.DPgap_spread{
    gap: var(--DPMargin);
}
.DPtouching_content, section.DPtouching_content{
    gap:0px
}

.DPAICentre{align-items: center;}
.DPAIStretch{align-items: stretch;}

.DPSection{
    padding: 0;
    gap: var(--DPGap);
    /* border-radius: 4px; */
    width: fill;
    /* height: 100%; */
    display: flex;
}

.DPvline{
    width: 2px;
    border-radius: 1px;
    min-width: 2px;
}
.DPhline{
    height: 2px;
    border-radius: 1px;
    min-height: 2px;
}

.DPhide_overflow{
    overflow: hidden;
}

.DPrelationship_far{
    gap: var(--DPMargin);
}
.DPhug_content, section.DPhug_content,div.DPhug_content{
    width: fit-content;
    height: fit-content;
}

.DPCard.DPpadding_tight{
    padding: var(--DPGap) var(--DPGap);

}
section.DPgap_tight{
    gap: 4px;
}

.DPh_scroll{
    overflow: visible;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
        width: 100vw;
}
/* Hide scrollbar for IE, Edge and Firefox */


.DPh_scroll::-webkit-scrollbar {
    display: none;
  }

button.DPreset{
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    font: inherit; /* Inherit font styles */
    color: inherit; /* Inherit text color */
    cursor: pointer; /* Change cursor to pointer */
    outline: none; /* Remove outline */
    text-align: left;
}


#DPBody{
    padding: 120px var(--DPMargin) var(--DPMargin);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--DPMargin);
}

header#DPheadermenu{
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    
}
#DPMenuLinks{
    width: fit-content;
    padding: 25px;
}
header#DPheadermenu > #DPHeaderSection{
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    min-height: 80px;
    justify-content: space-between;
}
@keyframes slidedown {
    from{ height: 0px;padding: 0;}
    to{height: 40px;padding: 9px;}
    
}
.DPsubMenu{
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 9px;
    gap: var(--DPGap);
    overflow: hidden;
    box-sizing: border-box;
    animation: slidedown 0.DP2s;
    max-height: 40px;
}

header>section{
    height: fit-content;
}

.DPoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

button.DPdefault_buttons{
    
    padding: var(--DPGap);
    border-radius: 4px;
    outline: none;
}

.DPMenuButton{
    text-decoration: none;
font-family: BrownPro;
}

.DPMenuButton.DPLayer_One_Light{
    color: var(--DPWC);
}
.DPMenuButton.DPLayer_One_Dark{
    color: var(--DPAC);
}
.DPMenuButton.DPLayer_Two_Light{
    color: var(--DPBC);
}
.DPMenuButton.DPLayer_Two_Dark{
    color: var(--DPDC);
}
.DPMenuButton.DPLayer_Three_Light{
    color: var(--DPSC);
}
.DPMenuButton.DPLayer_Three_Dark{
    color: var(--DPTC);
}
.DPMenuButton.DPLayer_Four_Light{
    color: var(--DPGC);
}
.DPMenuButton.DPLayer_Four_Dark{
    color: var(--DPEC);
}
.DPdescreat_card{
    /* border-radius: var(--DPBorderRadius); */
    overflow: hidden;
    display: flex;
}

.DPall_br{
    border-radius: var(--DPBorderRadius);
}
.DPtl_br{
    border-top-left-radius: var(--DPBorderRadius);
}
.DPtr_br{
    border-top-right-radius: var(--DPBorderRadius);
}
.DPbl_br{
    border-bottom-left-radius: var(--DPBorderRadius);
}
.DPbr_br{
    border-bottom-right-radius: var(--DPBorderRadius);
}

.DPhover_interaction{
    cursor: pointer;
}


.DPShadow_One_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPShadow_Two_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPBS);}
.DPShadow_Three_Light{    box-shadow: 0px 0px var(--DPGap) 0px var(--DPSS);}
.DPShadow_Four_Light{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPGS);}
.DPShadow_One_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_Two_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPShadow_Three_Dark{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPTS);}
.DPShadow_Four_Dark{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPES);}

.DPInner_Shadow_One_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPInner_Shadow_Two_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPBS);}
.DPInner_Shadow_Three_Light{    box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPSS);}
.DPInner_Shadow_Four_Light{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPGS);}
.DPInner_Shadow_One_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPInner_Shadow_Two_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPInner_Shadow_Three_Dark{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPTS);}
.DPInner_Shadow_Four_Dark{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPES);}

/* ===================================================== */
.DPShadow_REAOne_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPShadow_REATwo_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPREALight);}
.DPShadow_REAThree_Light{    box-shadow: 0px 0px var(--DPGap) 0px var(--DPREADark);}
.DPShadow_REAOne_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_REATwo_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_REAThree_Dark{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPREAUmbra);}

.DPInner_Shadow_REAOne_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPInner_Shadow_REATwo_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPREALight);}
.DPInner_Shadow_REAThree_Light{    box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPREADark);}
.DPInner_Shadow_REAOne_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPInner_Shadow_REATwo_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPInner_Shadow_REAThree_Dark{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPREAUmbra);}
/* ===================================================== */
.DPShadow_BTROne_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPShadow_BTRTwo_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPBTRLight);}
.DPShadow_BTRThree_Light{    box-shadow: 0px 0px var(--DPGap) 0px var(--DPBTRDark);}
.DPShadow_BTROne_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_BTRTwo_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_BTRThree_Dark{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPBTRUmbra);}

.DPInner_Shadow_BTROne_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPInner_Shadow_BTRTwo_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPBTRLight);}
.DPInner_Shadow_BTRThree_Light{    box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPBTRDark);}
.DPInner_Shadow_BTROne_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPInner_Shadow_BTRTwo_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPInner_Shadow_BTRThree_Dark{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPBTRUmbra);}
/* ===================================================== */
.DPShadow_LLSOne_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPShadow_LLSTwo_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPLLSLight);}
.DPShadow_LLSThree_Light{    box-shadow: 0px 0px var(--DPGap) 0px var(--DPLLSDark);}
.DPShadow_LLSOne_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_LLSTwo_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_LLSThree_Dark{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPLLSUmbra);}

.DPInner_Shadow_LLSOne_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPInner_Shadow_LLSTwo_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPLLSLight);}
.DPInner_Shadow_LLSThree_Light{    box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPLLSDark);}
.DPInner_Shadow_LLSOne_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPInner_Shadow_LLSTwo_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPInner_Shadow_LLSThree_Dark{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPLLSUmbra);}
/* ===================================================== */
.DPShadow_BFSOne_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPShadow_BFSTwo_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPBFSLight);}
.DPShadow_BFSThree_Light{    box-shadow: 0px 0px var(--DPGap) 0px var(--DPBFSDark);}
.DPShadow_BFSOne_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_BFSTwo_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_RBFShree_Dark{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPBFSUmbra);}

.DPInner_Shadow_BFSOne_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPInner_Shadow_BFSTwo_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPBFSLight);}
.DPInner_Shadow_BFSThree_Light{    box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPBFSDark);}
.DPInner_Shadow_BFSOne_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPInner_Shadow_BFSTwo_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPInner_Shadow_BFSThree_Dark{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPBFSUmbra);}
/* ===================================================== */
.DPShadow_DEVOne_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPShadow_DEVTwo_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPDEVLight);}
.DPShadow_DEVThree_Light{    box-shadow: 0px 0px var(--DPGap) 0px var(--DPDEVDark);}
.DPShadow_DEVOne_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_DEVTwo_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_DEVThree_Dark{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPDEVUmbra);}

.DPInner_Shadow_DEVOne_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPInner_Shadow_DEVTwo_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDEVLight);}
.DPInner_Shadow_DEVThree_Light{    box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDEVDark);}
.DPInner_Shadow_DEVOne_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPInner_Shadow_DEVTwo_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPInner_Shadow_DEVThree_Dark{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDEVUmbra);}
/* ===================================================== */
.DPShadow_INTOne_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPShadow_INTTwo_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPINTLight);}
.DPShadow_INTThree_Light{    box-shadow: 0px 0px var(--DPGap) 0px var(--DPINTDark);}
.DPShadow_INTOne_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_INTTwo_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_INTThree_Dark{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPINTUmbra);}

.DPInner_Shadow_INTOne_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPInner_Shadow_INTTwo_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPINTLight);}
.DPInner_Shadow_INTThree_Light{    box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPINTDark);}
.DPInner_Shadow_INTOne_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPInner_Shadow_INTTwo_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPInner_Shadow_INTThree_Dark{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPINTUmbra);}
/* ===================================================== */
.DPShadow_FFEOne_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPShadow_FFETwo_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPFFELight);}
.DPShadow_FFEThree_Light{    box-shadow: 0px 0px var(--DPGap) 0px var(--DPFFEDark);}
.DPShadow_FFEOne_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_FFETwo_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_FFEThree_Dark{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPFFEUmbra);}

.DPInner_Shadow_FFEOne_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPInner_Shadow_FFETwo_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPFFELight);}
.DPInner_Shadow_FFEThree_Light{    box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPFFEDark);}
.DPInner_Shadow_FFEOne_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPInner_Shadow_FFETwo_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPInner_Shadow_FFEThree_Dark{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPFFEUmbra);}
/* ===================================================== */
.DPShadow_DEFOne_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPShadow_DEFTwo_Light{      box-shadow: 0px 0px var(--DPGap) 0px var(--DPDEFLight);}
.DPShadow_DEFThree_Light{    box-shadow: 0px 0px var(--DPGap) 0px var(--DPDEFDark);}
.DPShadow_DEFOne_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_DEFTwo_Dark{       box-shadow: 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPShadow_DEFThree_Dark{     box-shadow: 0px 0px var(--DPGap) 0px var(--DPDEFUmbra);}

.DPInner_Shadow_DEFOne_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPWS);}
.DPInner_Shadow_DEFTwo_Light{      box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDEFLight);}
.DPInner_Shadow_DEFThree_Light{    box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDEFDark);}
.DPInner_Shadow_DEFOne_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPAS);}
.DPInner_Shadow_DEFTwo_Dark{       box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDS);}
.DPInner_Shadow_DEFThree_Dark{     box-shadow: inset 0px 0px var(--DPGap) 0px var(--DPDEFUmbra);}
div.DPDot{
    width: var(--DPMargin);
    height: var(--DPMargin);
    box-sizing: border-box;
    border-radius: 30px;
}

#root div.DPmultiple_choice_holder{
    display: flex;
    height: var(--DPMargin);
    width: fill;
    border-radius: var(--DPBorderRadius);
    outline-offset: -2px;
    flex-direction: row;
    gap: 0;
    padding: 0;
    align-items: unset;
    
}
.DPmultiple_choice_option{
    padding: var(--DPGap);
    border-style: none;
    background-color: none;
    width: fit-content;
}
button.DPprimary_button{
    padding: var(--DPGap);
    border-style: none;
    background-color: none;
    width: fill;
    border-radius: var(--DPBorderRadius);
    outline-offset: -2px;
}

.DPjustify_spread{
    justify-content: space-evenly;
}

.DPflex_wrap{
    flex-wrap: wrap;
}


.DPdrop_down{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: var(--DPBorderRadius);
}
.DPdrop_down .DPmultiple_choice_option{
    width: fill;
}
.DPdrop_down_button{
    width: fill;
}

a.DPCardButton{
    text-decoration: none;
    height: auto;
    border-radius: var(--DPBorderRadius);
}

button{
    background: none;
    padding: 0;
    border-style: none;
}
/* button:hover{
    cursor: pointer;
} */

a.DPfill_fixed,.DPfill_fixed{
    width: fill;
    min-width: fit-content;
}
.DPWidth_auto{
    width: auto;
}

/* @media only screen and (min-width: 768px) {
    .DPcd_lr,.DPSection.DPcd_lr{
        flex-direction: column;
    }

} */


image.DPAvitarImage{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #1641c5;
}


.DPAB_top_right{
    position: absolute;
    right: var(--DPGap);
    top: var(--DPGap);
}
.DPtext_wrap{
    text-wrap:unset
}

input{
    border-style: none;
    padding: var(--DPGap);
    border-radius: var(--DPBorderRadius);
}

section.DPCascade{
    display: flex;
    flex-flow: wrap;
    gap: var(--DPGap);
    overflow: visible;
}
.DPTable_Row{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--DPGap);
    border-radius: var(--DPBorderRadius);
    flex-grow: 1;
    flex-shrink: 1;
}
.DPTable_Cell{
    padding:var(--DPGap);
    align-items: center;
    justify-content:center;
    flex-grow: 1;
    flex-shrink: 0;
}


.DPDate_Input{
    padding-left: var(--DPGap);
    border-radius: var(--DPBorderRadius);
    background-color: red;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DPStatus_Dot{
    width: calc(var(--DPGap)/2);
    height: calc(var(--DPGap)/2);
    border-radius: calc(var(--DPGap)/4);
}

.DPCallender_Table_7,.DPCallender_Table_5{
    display: flex;
    flex-wrap: wrap;
    /* padding: var(--DPGap); */
}
.DPCallender_Table_7 > button.DPDay_button,.DPCallender_Table_7 > p{
    flex: 1 1 14%;
    min-width: 14%;
    gap: calc(var(--DPGap)/2);
    height: fit-content;
    box-sizing: border-box;
    padding: calc(var(--DPGap)/2);
    display: flex;
        flex-direction: column;
        align-items: center;
}
.DPCallender_Table_5 > button.DPDay_button,.DPCallender_Table_5 > p{
    flex: 1 1 19%;
    min-width: 19%;
    gap: calc(var(--DPGap)/2);
    height: fit-content;
    box-sizing: border-box;
    padding: calc(var(--DPGap));
    display: flex;
        flex-direction: column;
        align-items: center;
}
.DPDay_button > p{
    height: fit-content;
}
.DPcallender_top{
    display: flex;
    align-items: center;
    padding-left: var(--DPGap);
    /* margin: calc(var(--DPGap)/-2); */
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width:501px){
    .DPDate_holder{
        position: absolute;
        left: 0;
        right: 0;
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        top: -200%;
        bottom: var(--DPGap);
        z-index: 5;
    
    }

}

@media screen  and (max-width:500px){
    .DPDate_holder{
        position: fixed;
        left: var(--DPGap);
        right: var(--DPGap);
        box-sizing: border-box;
        width: calc(100vw - var(--DPGap)*2);
        top: auto;
        bottom: var(--DPGap);
    
    }
}
