@font-face {
    font-family: BrownPro;
    src: url(../fonts/BrownPro-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: ValueSerif;
    src: url(../fonts/value-serif-regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: ValueSerif;
    src: url(../fonts/value-serif-medium.otf);
    font-weight: 600;
}
p.DP{
    font-family: BrownPro;
    font-weight: 400;
    margin: 0;
    width: fill;
}
h1.DP,h2.DP,h.DP,h4.DP{
    font-family: ValueSerif;
    font-weight: 200;
    margin: 0;
    width: fill;
}

h1.DPtitle{
    font-weight: 400;
    font-size: 4em;
}
p.DPsubtitle{
    font-weight: bold;
    font-size: 1.2em;
}
h1.DP{
    font-weight: 400;
    font-size: 3.3em;
}
h2.DP{
    font-weight: 600;
    font-size: 2em;
}
h3.DP{
    font-weight: 600;
    font-size: 1.6em;
}
h4.DP{
    font-weight: 600;
    font-size: 1.3em;
}
h5.DP{
    font-family: BrownPro;
    font-weight: 600;
    font-size: 1em;
    margin: 0;
    width: fill;
    text-wrap: nowrap;
}
p.DPp1{
    font-weight: 400;
    font-size: 1.1em;
}
p.DPp2{
    font-weight: 400;
    font-size: 1em;
}
p.DPp3{
    font-weight: 400;
    font-size: 0.8em;
}
p.DPfineprint{
    font-weight: 400;
    font-size: 0.6em;
}
h1.DPstatment_text{
    font-weight: 400;
    font-size: 8.4em;
}
p.DPQuote_Source{
    font-weight: 400;
    font-size: 1.2em;
    text-align: right;
}
p.DPQuote{
    font-family: ValueSerif;
    font-weight: 400;
    font-size: 1.2em;
    z-index: 1;
    margin-left: 1em;
    margin-top: -1.5em;

}
q.DPQuote::after{
    content: none
}
.DPBullet{
    width: fit-content;
}