

body{
  background-color: #C00800;
}
#root > header{
  width: 100%;
  padding: 0 18px;
  display: flex;
  justify-content: center;
  backdrop-filter: saturate(200%) blur(40px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 10;
}
nav{
  display: flex;
  align-items: center;
  gap: 1rem;
}
#HeaderSection{
  max-width: 1000px;
  width: fill;
  justify-content: space-between;
  display: flex;
}
header nav a.default{
  text-decoration: none;
  font-family: 'jost',sans-serif;
  font-weight: 700;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0;
  height: fill;
}
.slideplaygroundholder{
  height: 40vh;
  overflow: hidden;
  background-color: #1f1b1b;
    border-radius: 4px;

}
.slideplayground{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}
.DPslide.oldone{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/copy\ for\ harrison-_01.png');}
.DPslide.oldtwo{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Stayo Design Presentation_7.png');width: 297px;height: 210px;}
.DPslide.oldthree{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/copy\ for\ harrison-_08.png');}
.DPslide.oldfour{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide4.PNG');}
.DPslide.oldfive{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Stayo Design Presentation_4.png');width: 297px;height: 210px;}
.DPslide.oldsix{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Stayo Design Presentation_18.png');width: 297px;height: 210px;}
.DPslide.oldseven{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide12.PNG');}
.DPslide.oldeight{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/copy\ for\ harrison-_04.png');}
.DPslide.oldnine{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide23.PNG');}
.DPslide.oldten{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide18.PNG');}
.DPslide.oldeleven{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide2.PNG');}
.DPslide.oldtwelve{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide14.PNG');}
.DPslide.oldtherteen{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Stayo Design Presentation_17.png');width: 297px;height: 210px;}
.DPslide.oldfourteen{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Stayo Design Presentation_11.png');width: 297px;height: 210px;}
.DPslide.oldfifteen{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide23.PNG');}
.DPslide.oldsixteen{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Stayo Design Presentation_9.png');width: 297px;height: 210px;}
.DPslide.oldseventeen{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/copy\ for\ harrison-_04.png');}
.DPslide.oldeighteen{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/copy\ for\ harrison-_07.png');}
.DPslide.oldnineteen{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide28.PNG');}
.DPslide.oldtwenty{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide29.PNG');}
.DPslide.oldtwentyone{background-image: url('./sources/articals/davidphillips/oldpresentaitonslides/Slide21.PNG');}

nav a h1{
  font-size: 1.2rem;
  margin: 0.5em 0;
}
header .pagename{
  display: none;
}
nav a .buttonline{
  padding-top: 2px;
  width: 100%;
  margin-top: -2px;

}
div.instagram{
    border-radius: 5px;
    background-image: url('../src/sources/articals/davidphillips/instagram\ background.png');
    background-position: top;
    background-size: cover;
    padding: 2em;
}
article.instagrampost{
  display: flex;
  flex-direction: row;
  gap: 0;
  background-color: #ffffff;
  width: 60%;
  overflow: hidden;
  border-radius: 5px;
}
.paralaxpremades{
  aspect-ratio:100/38;
  background: url("../src/sources/articals/davidphillips/premadeslides.png") repeat fixed 50%;
  background-size: 100%;
  border-radius: 5px;
  box-shadow: inset 0 0 18px;
}
#root>header button img{
  margin: 10px;
  height: 2rem;
  aspect-ratio: 1;
}
header button.menu{
  aspect-ratio: 1;
  margin: 0;
}
nav a:hover .buttonline{
  background-color: #C00800;
}
header nav{
  gap: 1.8rem;
}
h2, h1,h3,h4{
  margin: 0;
}
h1.default{
  font-size: 2.5em;
}
h2.default{
  font-size: 2.2em;
}
.BentoBox h2.default,footer h2.default{
  font-size: 1.2em;
}
h3.default{
  font-size: 1.8em;
}
h4.default{
  font-size: 1.5em;
}
span{
  display: flex;
  gap: 40px;
  width: 100%;
  overflow: hidden;
}
span div{
  max-width: 33%;
}
.cardParagraph{
  font-size: 0.8em;
}
.QuickBento{
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 30%;
}
.QuickBento.AspinalBento{
  background-image: url('../src/sources/articals/aspinaloflondon/bagcloseup.png');

}
.QuickBento.IconsBentoBackground{
background-image: url('../src/sources/articals/davidphillips/line\ icons.jpg');
}
.QuickBento.FigmaBentoBackground{
background-image: url('../src/sources/articals/davidphillips/figmaframework.png');
}
.QuickBento.OtherBentoBackground{
background-image: url('../src/sources/articals/davidphillips/ffecover.png');
}
.QuickBento.BrandBentoBackground{
background-image: url('../src/sources/articals/davidphillips/Templateslides/1.png');
}
#root>main{
  /* display: grid; */
  /* grid-template-columns: repeat(12, 12fr);
  grid-template-rows: repeat(12,12fr); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 16px;
  min-height: 100vh;
  box-sizing: border-box;
  height: fit-content;
  padding-top: 8rem;
  padding-bottom: 20px;
}
section.content{
  max-width: 1000px;
  width: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
section.content div{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;
}
section.grid{
  display: grid;
  grid-template-columns: repeat(12, 12fr);
  /* grid-template-rows: repeat(10,120px); */
  grid-auto-rows: 120px;
  gap: 8px;
  width: 100%;
}
.BentoBox{
  border-radius: 4px;
  outline: 2px solid;
  min-height: 200px;
  position: relative;
  overflow: hidden;
}
.BentoSmall{
  aspect-ratio: 1/1;
}
.BentoBox .topleft{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0;
  top:18px;
  left: 18px;
}
.BentoBox .bottomleft{
  position: absolute;
  bottom:18px;
  left: 18px;
  right: 18px;
  max-width: 200px;
}

.DPbento{
  width: 100%;
  height: 100%;
  background-color:#796f6d;
  overflow: hidden;
}
.DPslide{
  box-shadow: 4px -4px 8px #48444483;
  width:384px;
  height:216px;
  border-radius: 4px;
  background-color: #f2efed;
  position: absolute;
    background-size: cover;
  background-position: center;
  cursor:grab;
}
.DPslide.A4{
  width: 297px;height: 210px;
}
.DPslide:active{
  cursor: grabbing;
}
.DPslide.one{background-image: url('./sources/articals/davidphillips/Templateslides/1.png');}
.DPslide.two{background-image: url('./sources/articals/davidphillips/Templateslides/2.png');}
.DPslide.three{background-image: url('./sources/articals/davidphillips/Templateslides/3.png');}
.DPslide.four{background-image: url('./sources/articals/davidphillips/Templateslides/4.png');}
.DPslide.five{background-image: url('./sources/articals/davidphillips/Templateslides/5.png');}
.DPslide.six{background-image: url('./sources/articals/davidphillips/Templateslides/6.png');}
.DPslide.seven{background-image: url('./sources/articals/davidphillips/Templateslides/7.png');}
.DPslide.eight{background-image: url('./sources/articals/davidphillips/Templateslides/8.png');}
.DPslide.nine{background-image: url('./sources/articals/davidphillips/Templateslides/9.png');}

section.content img{
  width: 100%;
  margin: 18px 0;
}
section.content iframe{
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 4px;
  border: #48444483;
  overflow: hidden;
}

footer nav{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 3rem;
  max-width: 1000px;
  width: 100%;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 18px;
  gap: 3rem;
}
footer section{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
a img{
  margin: 0.5rem 0;
}
button.menu{
  all: unset;
  margin-left:1rem;
}
@media (max-width: 1400px) {
    section.grid{
      grid-template-columns: repeat(8, 8fr);
  }
}

@media (max-width: 1080px) {
  #root>main{
  grid-template-columns: repeat(4, 6fr);

}
article.instagrampost{
  width: 100%;
}
span{
  flex-direction: column;
  gap: 40px;
}
span div{
  max-width: 100%;
}
section.grid{
  grid-template-columns: repeat(4, 4fr);
}
  main.home > section{
    margin: 3rem 2vw;
  }
  header .pagename{
    display: block;
  }
  #root header{
    padding: 0 2vw;
  }
  button.menu{
    display: inline;
    z-index: 100;
  }
  nav.full{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    display: none;
    padding-left: 2rem;
    margin-left: 20px;
  }
  footer nav{
    flex-direction: column;
  }
  section.row{
    flex-direction: column;
  }
}
main.home > section img.poster{
  width: 100%;
  border-radius: 0.5vw;
}
img.profilehero{
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
}
section.row{
  display: flex;
  gap: 2rem;
  align-items: center;
}
p{
  font-family: 'jost',sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
p.contact a{
  display: inline;
}

#win95{
  background-color: #008383;
  width: 100%;
  height: 100vh;
  padding: 10%;
  box-sizing: border-box;
}
section.cookieRequest{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 2vh;
  padding: 2vh;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
}
section.cookieRequest button{
  padding: 10px 30px;
  border-radius: 1vh;
  border-style: none;
}

