body{
  background-color: #C00800;
}
#root > header{
  width: 100%;
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  backdrop-filter: saturate(200%) blur(40px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 10;
}
nav{
  display: flex;
  align-items: center;
  gap: 1rem;
}
header nav a.default{
  text-decoration: none;
  font-family: 'jost',sans-serif;
  font-weight: 700;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0rem;
}
nav a h1{
  font-size: 1.2rem;
}
header .pagename{
  display: none;
}
nav a .buttonline{
  padding-top: 2px;
  width: 100%;
  margin-top: -2px;

}
#root>header button img{
  margin: 10px;
  height: 2rem;
  aspect-ratio: 1;
}
header button.menu{
  aspect-ratio: 1;
  margin: 0;
}
nav a:hover .buttonline{
  background-color: #C00800;
}
header nav{
  gap: 1.8rem;
}



#root>main{
  min-height: 100vh;
  box-sizing: border-box;
  height: fit-content;
  padding-top: 3rem;
  padding-bottom: 20px;
}
footer nav{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 3rem;
}
footer{
  display: flex;
  flex-direction: column;
  padding: 3rem 20%;
  gap: 3rem;
}
footer section{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
a img{
  margin: 0.5rem 0;
}

main.home > section{
  margin: 3rem 20%;
}
button.menu{
  all: unset;
  margin-left:1rem;
}
@media (max-width: 800px) {
  main.home > section{
    margin: 3rem 2vw;
  }
  header .pagename{
    display: block;
  }
  #root header{
    padding: 0 2vw;
    padding-left: 5vw;
  }
  button.menu{
    display: inline;
    z-index: 100;
  }
  nav.full{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    display: none;
    padding-left: 2rem;
    margin-left: 20px;
  }
  footer nav{
    flex-direction: column;
  }
  section.row{
    flex-direction: column;
  }
}
main.home > section img.poster{
  width: 100%;
  border-radius: 0.5vw;
}
img.profilehero{
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
}
section.row{
  display: flex;
  gap: 2rem;
  align-items: center;
}
p{
  font-family: 'jost',sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
p.contact a{
  display: inline;
}

#win95{
  background-color: #008383;
  width: 100%;
  height: 100vh;
  padding: 10%;
  box-sizing: border-box;
}
section.cookieRequest{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 2vh;
  padding: 2vh;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
}
section.cookieRequest button{
  padding: 10px 30px;
  border-radius: 1vh;
  border-style: none;
}

span{display: flex;}