body{
    background-color: #0B0B0B;
    margin: 0;
    font-family: 'Jost', sans-serif;
    color: #D7CFC8;
}
header{
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: #0B0B0B;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
img.logo{
    width: 40px;
    height: 40px;
    position: sticky;
    top: 10px;
    margin-top: 20%;
}
header menu{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    margin-right: 10px;
}
header menu a{
    border: none;
    background-color: transparent;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #D7CFC8;
    text-decoration: none;
}
a{
    color: #D7CFC8;
}
header menu a:hover{
    color: #C00800;
}
section{
    min-width: 50%;
    max-width: 90%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jost', sans-serif;
    color: #D7CFC8;
    margin-top: 100px;
}
body section:first-of-type{
    margin-top: -70px
}
footer{
    margin-top: 200px;
}
footer section:first-of-type{
    margin-top: 20px;
}
h1{
    font-size: 70px;
    font-weight: 500;
    margin: 0;
}
h2{
    font-size: 55px;
    font-weight: 500;
    margin: 0;
}
h3{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
p{
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}
.arrowdown{
    margin-top: 20px;
    margin-left: 45%;
    width: 10%;
}
section.poster img{
    width: 100%;
}
section.profile{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 40px;
}

section.profile img{
    border-radius: 50%;
    width: 30%;
}
section.profile div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer a{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
footer a img{
    height: 20px;
}
footer h2{
    margin-bottom: 20px;
}
a.underlined{
    text-decoration: underline;
}
footer a img:last-of-type{
    display: none;
}
footer a:hover img:last-of-type{
    display: block;
}
footer a:hover img:first-of-type{
    display: none;
}
section#casestudies{
    display: flex;
    flex-wrap: wrap;
}
.onebyone{
    width: 50%;
    padding-top: 100%;
    margin-top: -100%;
}
.onebytwo{
    width: 100%;
    padding-top: 100%;
    margin-top: -100%;
}
.twobytwo{
    width: 100%;
    padding-top: 100%;
    margin-top: -100%;
}
.pointfive{
    width: 25%;
    padding-top: 100%;
    margin-top: -100%;
}
section#casestudies a img{
    width: 100%;
}
section#casestudies p{
    text-decoration: none;
    margin-bottom: -40px;
    z-index: 2;
    margin-left: 10px;
    /* display: none;*/
}
section div.onebyone{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
section#casestudies div.onebyone p{
    margin-left: 0;
    font-size: 18px;
}
.alighnright{
    align-items: flex-end;
}
section#casestudies div.alighnright p{
    text-align: right;
}

/* section#casestudies a:hover p{
    display: block;
}
section#casestudies a:hover img{
    display: none;
} */
section#casestudies a p{
    display: none;
    position: absolute;
    margin: 20px;
}