body{
    background-color: #0B0B0B;
    margin: 0;
}
header{
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: #0B0B0B;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header img{
    width: 40px;
    height: 40px;
}
header menu{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    margin-right: 10px;
}
header menu a{
    border: none;
    background-color: transparent;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #D7CFC8;
    text-decoration: none;
}
header menu a:hover{
    color: #C00800;
}
section{
    min-width: 50%;
    max-width: 90%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jost', sans-serif;
    color: #D7CFC8;
    margin-top: 100px;
}
section:first-of-type{
    margin-top: 30%;
}
h1{
    font-size: 70px;
    font-weight: 500;
    margin: 0;
}
h2{
    font-size: 55px;
    font-weight: 500;
    margin: 0;
}
h3{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
p{
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}
.arrowdown{
    margin-top: 20px;
    margin-left: 45%;
    width: 10%;
}
section.poster img{
    width: 100%;
}
section.profile{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 40px;
}

section.profile img{
    border-radius: 50%;
    width: 30%;
}
section.profile div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
