body{
  background-color: #C00800;
}
header{
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  backdrop-filter: saturate(200%) blur(40px);
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav a{
  text-decoration: none;
  font-family: 'jost';
  font-weight: 700;
}
main{
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 3rem;
}
footer{
  padding: 3rem 20%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
footer section{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
a img{
  margin: 0.5rem 0;
}

main.home section{
  padding: 3rem 20%;
}
main.home section img.poster{
  width: 100%;
  box-shadow: 0 0 20px 5px black;
}
img.profilehero{
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px black;
}
section.row{
  display: flex;
  gap: 2rem;
}