main.analytics button{
    padding: 10px 40px;
}
main button.login{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
}
.login img{
    width: 40px;
}
.login p{
    padding-right: 10px;
}
div.TunnelParent{
    aspect-ratio: 1;
}
div.Tunnel{
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(24, 118, 242, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Tunnel .tip{
    position: absolute;
    display: none;
}
.Tunnel:hover>.tip{
    display: block;
    background-color: white;
    z-index: 10;
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
    min-width: 80px;
}
main section.card{
    all: unset;
    background-color: white;
    margin: 0 20%;
    min-width: 60%;
    max-width: 95%;
    width: 60%;
    display: block;
    border-radius: 0.5vw;
    /* border: solid 2px; */
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 20px;
}
main .card>.sub{
    display: flex;
    gap: 1vw;
    justify-content: space-between;
    padding: 4vw;
}
main .card .sub section{
    width: 40%;
}
.card .Ribbon{
    padding: 10px 4vw;
}
