a{
    font-family: 'Jost';
    font-weight: 400;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    align-items: center;
    font-size: 1.2rem;
}
a img{
    width: 1.4rem;
}

a:hover img.one{
    display: none;
}
a:hover img.two{
    display: inline;
}
a img.two{
    display: none;
}
button:hover img.one{
    display: none;
}
button:hover img.two{
    display: inline;
}
button img.two{
    display: none;
}
button.defualt{
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    align-items: center;
    font-size: 1.2rem;
    padding: 20%;
}
#root button{
    transition: 1s;
}

main.analytics button{
    padding: 10px 40px;
}
main button.login{
    padding: 10px;
    font-size: 20px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 40px;
    gap: 10px;
    box-sizing: border-box;
}
.login img{
    width: 40px;
    border-radius: 20px;
}
#root button.rounded{
    padding-right: 30px;
}
.login p{
    padding-right: 10px;
}
label.pages{
    padding: 10px;
    font-size: 20px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 40px;
    gap: 10px;
    box-sizing: border-box;
    padding-right: 30px;
}
label.pages img{
    border-radius: 50%;
}






#root form.DateRange button.until{
    background-color: #1877F2;
    border-radius: 5px;

}
form.DateRange div.beforeUntil{
    margin-right: calc(3rem/-2);
    padding-right: calc(3rem/2);
    background-color: rgb(16, 78, 159);
}
form.DateRange div.afterSince{
    margin-left: calc(3rem/-2);
    padding-left: calc(3rem/2);
    background-color: rgb(16, 78, 159);
}
#root form.DateRange button.since{
    background-color: #003881;
    border-radius: 5px;
    z-index: 1;
}
#root form.DateRange button.between{

    background-color: rgb(16, 78, 159);
}





.DateRange{
    width: 100%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    height: fit-content;
}
#root form.DateRange button{
    flex: 1;
    padding: 10px 0;
    border-style: none;
    transition: 0.1s;
    background-color: unset;
    justify-content: center;
}
#root form.DateRange button.current{

    background-color: rgba(255, 255, 255, 0.023);
    border-radius: 5px;
}
#root form.DateRange button p{
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

#DarkMode form.input{
    background-color: #201B1B;
}