.progressBar{
    height: 10px;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    background-color: gray;
}
.progress0{
    background-color: blue;
    height: 100%;
    min-width: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.progress100{
    background-color: blue;
    height: 100%;
    max-width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: ease-in-out 5s;
}
article{
    all: unset;
}
#cardDeck{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    height: fit-content;
    gap: 10px;
}
.card{
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1;
    position: relative;

}
.card img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.cardheader{
    margin: 0;
    top: 15px;
    left: 15px;
    position: absolute;
    color: #d7cfc800;
    font-size: 1.1rem;
}
.card:hover .cardheader{
    color: #d7cfc8;
}
.card:hover{
    background-color: black;
}
div.card:hover{
    background-color: unset;
}
.card:hover img{
    opacity: 50%;
}
.smallCard{
    grid-column: span 1;
    grid-row: span 1;
}
.mediumCard{
    grid-column: span 2;
    grid-row: span 2;

}
.largeCard{
    grid-column: span 3;
    grid-row: span 3;

}
.wideCard{
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: unset;
}
.exwideCard{
    grid-column: span 3;
    grid-row: span 1;
    aspect-ratio: unset;
    height: fit-content;
    min-height: 1rem;
}
div.exwideCard p{
    position: relative;
}
.card p{
    position: absolute;
    font-size: 1.5rem;
    padding: 5%;
}
