body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background02);
    /* position: relative; */
}
.hometext,.hometext2{
    text-align:center;
    /* z-index: 12; */
    position:fixed;
    top:calc(45vh - 0.5em);
    left:Calc(50vw - 6em);
    width:12em;
    text-shadow:0 0 20px var(--hometextshadow), 0 0 5px var(--hometextshadow)
}
.hometext2{
    text-shadow: unset;
    color: var(--Light02);

}
main{
    background-color: var(--Background);
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: none;
    z-index: 0;
    /* gap: var(--gap_far); */
}
div.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: var(--gap_far);
}
section{
    gap: var(--gap_far);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: var(--gap_far);
    max-width: 1200px;
    box-sizing: border-box;
    /* z-index: 1; */
}

section.focus_section{
    background-color: var(--Background);
    align-items: center;
    box-sizing: border-box;
    padding:0;
    max-width: unset;
    overflow: hidden;
    gap: 0;
    z-index: 2;
}
.focus_section .fill{
    width: 100%;
    max-width: unset;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.focus_section section{
    width: 100%;
    max-width: min(1200px, 90vw);

}
.focus_section div{
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.focus_section div.artical_chip_holder{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
}
span.headerSpan{
    display: flex ;
    align-items: center ;
    justify-content: space-between 
}
@media (max-width: 600px) {
    section{
        max-width: 100vw;
    }
    span.headerSpan{
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
    }
    .focus_section section{
        width: 90vw;
        padding: 18px;
    }
    .menu_holder .centerer{
        bottom: 0.7em;
        top: unset;
        left: 0.7em;
        right: 0.7em;
        width: calc(100% - 1.4em);
    }
    .menu_holder .centerer nav#header,.layer_one>nav#header{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        gap: 0;
    }
    nav#header svg{
        display: none;
    }
    .menu_holder menu#nav,.layer_one menu#nav{
        position: absolute;
        width: 100%;
        left: 0;
    }
    #root nav#header{
        position: fixed;
        top:unset;
        margin-left: 0.7em;
        margin-right: 0.7em;
        bottom: 0.7em;
        width: calc(100% - 1.4em);
        z-index: 21;
    }
    /* section section.HomeHeroFocus{
        min-height: 95vh;
    }
    section section.HomeHeroSection{
        height: 95vh;
    } */
    div#VectorHolder{
        margin-top: -15vh;
        margin-bottom: 10vh;
    }
    #root .centerer.hidden{
    translate: 0 +70px;
    
}
    article.review{
        max-width: 80vw;
        padding: 18px;
    }
    article.review.focal{
        max-width: 100%;
    }
    article.review h2{
        font-size: 1.4em;
    }
}
menu#nav{
    position: fixed;
    top: 1em;
    height: 70px;
    display: flex;
    justify-content: center;
    z-index: 20;
    /* background-color: var(--background0280); */

    align-items: center;
    /* backdrop-filter: blur(20px); */
    margin: 0;
    padding: 0;
    width: 70px;
    left: calc(50% - 35px);
    transition: ease-in-out 0.5s;
}
menu#nav.hidden{
    translate: 0 -70px;
}
.menu_holder:hover menu#nav.hidden{
    translate: 0 0;
}

nav#header{
    position: sticky;
    top: 1em;
    height: 70px;
     display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
    padding: 0 5%;
    width: 80%;
    z-index: 19;
    box-sizing: border-box;
    background-color: var(--Background80);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    max-width: 1100px;



}
nav#header.hidden{
    top: -70px;
}
section.HomeHeroFocus{
    min-height: 100vh;
}
section.HomeHeroSection{
    height: 100vh;
    width: 100vw;
    gap: 20px;
    padding: 0;
    position: unset;
    max-width: unset;
}

nav hr.inactiveLink{
    opacity: 0;
}
nav .NavLink{
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;

}
nav hr{
    margin: 0;
    opacity: 0;
    border-style: none;
    width: 100%;
    stroke-width: 2px;
    border: 2px solid;

}
hr.activeLink{
    border: 2px solid var(--Crimson);
    opacity: 1;
}
a.activeLink{
    color: var(--Crimson);
    font-weight: 800;
}

.vector_button:hover{
    cursor: pointer;
}



.menu_holder{
    width: 100%;
    height: calc(70px+2em);
}
.menu_holder #header{
    position: static;
    top: 1em;
}
.centerer{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    padding-top: 1em;
    z-index: 19;
    transition: ease-in-out 0.5s;
}
.centerer.hidden{
    translate: 0 -70px;
}
.closebutton{
    z-index: 22;
}
.menu_holder:hover .centerer.hidden{
    translate: 0 0;
}
img.inline, video.inline{
    width: 100%;
    border-radius: 4px;
}
video.fullscreen{
    position: fixed;
    z-index: 25;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    top: 0;
    left: 0;
    cursor: zoom-out;
    background-color: var(--Background80);
    backdrop-filter: blur(2px);
}
.videoHolder .fsmessage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background03);
    color: var(--Copy);
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25%;
    box-sizing: border-box;
    
}

.fullscreenholder{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    padding: auto;
    display: flex;
    background-color: var(--Background80);
    backdrop-filter: blur(2px);
    cursor:alias;

}
.fullscreenholder .react-transform-component{
    max-height: calc(100% - 2em);
    max-width: calc(100% - 2em);
display: block;
margin: auto;
object-fit: contain;
cursor: zoom-out;
margin: 0;

}
.fullscreenholder .react-transform-wrapper{
 width: 100%;
 height: 100%;
 display: flex;
 /* justify-content: center;
 align-items: center; */
}
.fullscreenholder .react-transform-wrapper img,.fullscreenholder .react-transform-wrapper video{
    max-width: 100%;
    max-height: 100%;
    height: calc(100vh - 1.4em);
    width: calc(100vw - 1.4em);
    object-fit: contain;

}
.fullscreenholder .closebutton{
    top: 1em;
    right: 1em;
    position: fixed;

  
}
.videoHolder{
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 4px;
    cursor: zoom-in;
    position: relative;

}
.videoHolder.notfull{
    position: relative;
}
.videoHolder video.inline{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.videoHolder .PlayButton{
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
}
.videoHolder .duration{
    position: absolute;
    bottom: 1em;
    width: calc(100% - 2em);
    left: 1em;
    background-color: var(--Background80);
    height: 2em;
    display: none;
    border-radius: 01em;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; 
    cursor:auto;
}
.duration .Play{
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Background);
    border-radius: 50%;

}
.videoHolder:hover .duration{
    display: flex;
}
.duration .bar,.reelBar .bar{
    height: 8px;
    width: 50%;
    flex-grow: 2;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--Background);
    cursor:col-resize;
}
.bar .progress{
    height: 0.5em;
    background-color: var(--Copy);
    transition: ease;
}
.timeStamp{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}
.fullscreenholder .actionbutton,.videoHolder .PlayButton{
    width: 70px;
    height: 70px;
    background-color: var(--Background80);
    border-radius: 35px;
    backdrop-filter: blur(20px);
    z-index: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.row3{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
span.row3 img{
    max-width: 40%;
    min-width: 25%;
}


section.reel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    padding: 0;
    align-items: center;
    width: 100%;
}
section.reel img{
    flex-grow: 1;
    height: auto;
}

.reelBar{
    position: fixed;
    bottom: 1em;
    left: 1em;
    right: 1em;
    height: 70px;
    display: flex;
    background-color: var(--Background80);
    align-items: center;
    border-radius: 35px;
    gap: 16px;

}
.reelBar img{
    max-height: 100%;
    width: auto;
}

.reelBar .reelImgHolder{
    gap: 8px;
    height: 40px;
    display: flex;
    justify-content: center;
    width: calc(100% - 140px);

    overflow-x: auto;
    
}
.pictureSpace{
    z-index:1;
    clip-path: url(#heroMask);

}
.Floatholder{
    position: fixed;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}
.mask{
    mask-repeat: no-repeat;
    mask-position: top left;
    mask-size: 100%;
    background-color: var(--background01);
    position: absolute;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
}
.FloatPic{
    /* position: absolute; */
    max-width: 40vw;
    max-height: 40vh;
    aspect-ratio: fixed;
    /* border-radius:10px; */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.37));
    transition: opacity 1s ease;
}
button.basicbutton ,a.basicbutton{
    /* max-width: 12em; */
    width: fit-content;
    padding: .4em 3em;
    background-color: var(--background03);
    border-radius: var(--DPBorderRadius);
    font-family: 'Baskervville';
    font-size: 1em;
    font-weight: 800;
    font-style: italic;
    color: var(--Copy);
    cursor: pointer;
}
button.basicbutton.primary, a.basicbutton.primary{

    background-color: var(--Crimson);
    color: var(--Light02);
}



section.ReviewReel{
    width: 100%;
    /* background-color: blue; */
    padding: 0;
    transition: 0.1s ease;
    /* padding-top: 20px; */
}
section.ReviewReel:hover .holder{
    animation-play-state: paused;
}
.ReviewReel .holder{
    min-width: 300vw;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: fit-content;
    animation:  scroll-left 30s linear infinite;
    justify-content: space-around;

}
@keyframes scroll-left{
    0%{
        transform: translateX(calc(calc(-100% /3)*1));
    }
    100%{
        transform: translateX(calc(calc(-100% /3)*2));
    }
}

.review{
    /* background-color: red; */
    max-width: 500px;
    width: 100vw;
    padding: 60px;
    border-radius: 4px;
    transition: background-color 1s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.review:hover{
    background-color: var(--background02);
}
.review.focal{
    background-color: var(--background03);
    margin: 0 auto;
}

.review p{
    margin: 0;
    text-align: right;
    padding-right: 16px;
}
.review .ReviewerName{
    font-size: 1.1em;
    font-family: 'Baskervville';
    font-weight: 800;
    margin: 0;
    text-align: right;
    padding-bottom: 0.2em;
}
.review .ReviewContent{
    text-align: left;
    margin-bottom: 1em;
}
.review .ReviewerTitle{
    font-size: .8em;
    font-weight: 800;
}
.review .ReviewerCompany{
    font-size: .8em;
}
.review h2{
    font-style: italic;
    margin-bottom: 1em;
    transition: color 1s ease;

}
.review:hover h2{
    color: var(--Crimson);
}


.review .credit{
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-end;
    align-items: flex-end;
}

.iframe{
    border: none; 
    max-width:100%; 
    max-height:100vh;
    border-radius: 4px;
    overflow: hidden;
}

.poweredby{
    text-align: center;
}
.poweredby a{
    text-decoration: underline;
    font-style: italic;
}

