/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ Above Theme Mode ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ############################### Above Parent Styling ######################################## */
/* ------------------------------- All Buttons ------------------------------------- */
button{
    border-style: none;
    border-radius: 5px;
    background-color: unset;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 30px;
    margin: 10px;
    gap: 10px;
    border: 1px solid;
    height: fit-content;
}
button p{
    line-height: 18px;
    font-size: 15px;
}
button:active{
    outline: solid 2px white;
}
/* ------------------------------- MultiButton  ------------------------------------- */
button .options{
    display: flex;
    flex-direction: column;
    height: 18px;
    justify-content: space-between;
}
button .options div{
    height: 3px;
    width: 3px;
    border-radius: 2px;
}
/* ------------------------------- Primary Button  ------------------------------------- */
main#DarkMode button.primary,main#LightMode button.primary{
    background-color: #0f6cbd;
    border: unset;
}
main#DarkMode button.primary:hover,main#LightMode button.primary:hover{
    background-color: #0a4e8a;
}
button.priamary p{
    color: #F0EEEE;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ Dark Mode ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ############################### Above Parent ######################################### */
/* ------------------------------- All Buttons ------------------------------------------ */
#DarkMode button p{
    color: #F0EEEE;
}
#DarkMode button{
    color: #F0EEEE;
}
/* ------------------------------- Button defualt --------------------------------------- */
#DarkMode button{
    background-color: #282222;
    border-color: #3B3838;
}
#DarkMode button:hover{
    background-color: #3B3838;
}
/* ------------------------------- Button focus ------------------------------------- */
#DarkMode button.focus{
    background-color: #3B3838;
    border-color: #1E1919;
}
#DarkMode button.focus:hover{
    background-color: #494646;
}
/* ############################### Parent: input ######################################## */
/* ------------------------------- Button defualt -------------------------------------- */
#DarkMode .input>button{
    background-color: #201B1B;
    border-color: #201B1B;
    margin: 0;
}
#DarkMode .input>button:hover{
    background-color: #282222;
}
/* ------------------------------- Range Between -------------------------------------- */
#DarkMode .input>button.between{
    background-color: #282222;
    border-radius: 0;
}
/* ------------------------------- Button focus ------------------------------------- */
#DarkMode .input>button.focus{
background-color: #282222;
border-color: #1E1919;
}
#DarkMode .input>button.focus:hover{
    background-color: #3B3838;
}
/* ############################### Parent: Card ######################################## */
/* ------------------------------- Button defualt -------------------------------------- */
#DarkMode .card>button{
    background-color: #3B3838;
    border-color: #494646;
}
#DarkMode .card>button:hover{
    background-color: #494646;
}
/* ------------------------------- Button focus ------------------------------------- */
#DarkMode .card>button.focus{
    background-color: #494646;
    border-color: #333030;
}
#DarkMode .card>button.focus:hover{
    background-color: #5A5A5A;
}
/* ############################### Parent: Ribbon ###################################### */
/* ------------------------------- Button defualt -------------------------------------- */
#DarkMode .ribbon>button{
    background-color:#494646;
    border-color: #5A5A5A;
}
#DarkMode .ribbon>button:hover{
    background-color: #5A5A5A;
}
/* ------------------------------- Button focus ------------------------------------- */
#DarkMode .ribbon>button.focus{
    background-color: #5A5A5A;
    border-color: #3E3B3B;
}
#DarkMode .ribbon>button.focus:hover{
    background-color: #838383;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ Light Mode ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */



section.themetest{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: flex-start;
    justify-content: baseline;
}




button.multibutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
button.multibutton .options{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
button.multibutton .options div{
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 0.1rem;
}
